.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  border-bottom: 1px solid lightgray;
}

.header_right {
  display: flex;
}

.header_right > a > h3 {
  font-weight: 400;
  padding-right: 20px;
  padding-left: 5px;
}
a {
  text-decoration: none;
  color: #000;
  display: contents;
}

.form_container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_container > h1 {
  display: flex;
  justify-content: center;
}

.form_container > h2 {
  display: flex;
  justify-content: center;
  color: #a3a3a3;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

.form-group > button {
  width: 425px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #000;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inherit;
  color: #000;
  border-radius: 5px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard > h3 {
  color: rgb(113, 113, 113);
}

.goals {
  display: flex;
  flex-direction: row;
}
/*
.goal {
  border: 2px solid #000;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #a3a3a3;
} */

/* .goals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
} */

.goal {
  background-color: #f4f4f4;
  margin: 10px 10px;
  padding: 20px 10px;
  position: relative;
  width: 200px;
  max-width: 200px;
}

.goal > div > p {
  font-size: x-small;
  position: absolute;
  top: 5px;
  left: 5px;
}

.goal .close {
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border: none;
  background: none;
}

.goal > h2 {
  align-items: center;
  display: flex;
  justify-content: cente;
}

button {
  cursor: pointer;
}

.username {
  font-weight: 500;
  color: #3d3d3d;
  text-decoration: underline;
}
